<div class="container-fluid">

    <!-- ============================================================== -->
    <div class="row text-center">
        <h4>{{datosLeidos}} productos sobre un total de {{datosTotales}}</h4>
        <!-- <div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="mostrarAlert">
            Opción no disponible aún...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> -->
    </div>
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <div class="row mt-2">

        <div class="col">
            <ag-grid-angular style="width:840px; height: 450px;" class="ag-theme-bootstrap" [rowData]="rowData"
                [columnDefs]="columnDefs" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>

        <div class="col mt-3">
            <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Filtrar por tipo de producto</h5>
                    <ul class="card-text list-unstyled">
                        <li><button class="btn btn-secondary btn-xs" data-toggle="button"
                                (click)="filtroProducto('Leche')">Leche</button></li>
                        <li><button class="btn btn-secondary btn-xs mt-1"
                                (click)="filtroProducto('Yerba')">Yerba</button></li>
                        <li><button class="btn btn-secondary btn-xs mt-1"
                                (click)="filtroProducto('Azucar')">Azucar</button></li>
                        <li><button class="btn btn-secondary btn-xs mt-1"
                                (click)="filtroProducto('Galletitas')">Galletitas</button></li>
                        <li><button class="btn btn-secondary btn-xs mt-1"
                                (click)="filtroProducto('Gaseosa')">Gaseosas</button></li>
                        <li><button class="btn btn-secondary btn-xs mt-1"
                                (click)="filtroProducto('Arroz')">Arroz</button></li>
                        <li><button class="btn btn-secondary btn-xs mt-1"
                                (click)="filtroProducto('Shampoo')">Shampoo</button></li>
                        <li><button class="btn btn-secondary btn-xs mt-1"
                                (click)="filtroProducto('Pollo')">Pollo</button></li>
                        <li>
                            <button class="btn btn-primary btn-xs mt-3" (click)="home()">Home<br><em>(vista
                                    inicial)</em></button>
                        </li>

                    </ul>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>

        <div class="col mt-3">
            <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Variaciones de precios</h5>
                    <!-- <div  *ngIf="seleccion !=''">  -->
                    <div> 
                        <!-- <button class="btn btn-primary btn-sm" (click)="variaciones()">Buscar...</button> -->
                        <p *ngIf="variacion == 1">{{productoVariacion}} <b>NO</b> registra variaciones de precio desde el 14/10/21.</p>
                        <p *ngIf="variacion > 1">{{productoVariacion}}, <b>existen {{variacion}}</b> cambios de precio desde el 14/10/21.
                        <br><br><em>Click en "Filtrar", debajo de la grilla, para observar variaciones de precio</em></p>
                        <!-- <ul>
                            <li *ngFor="let precio of arrayPrecios">
                                ${{precio}}
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ============================================================== -->


    <!-- ============================================================== -->
    <div class="row pieTabla mt-1">
        <div class="col-4">
            <em class="fw-lighter" style="font-size: small; line-height: 95%;">
                <div class="row">
                    Selecc. ítem y luego "Filtrar".
                </div>
                <div class="row">
                    Para desactivar el filtro, seleccionar "Home".
                </div>
            </em>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6 fw-lighter" style="font-size: small;line-height: 85%;">
                    {{seleccion}}
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col form-check h-25" *ngIf="seleccion !=''">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                (click)="filtrar()" [checked]="filtrarChecked">
                            <label class="form-check-label fw-lighter" for="flexRadioDefault1">
                                Filtrar
                            </label>
                        </div>
                        
                        <div class="col form-check" *ngIf="seleccion !=''">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                (click)="editar()" disabled>
                            <label class="form-check-label fw-lighter" for="flexRadioDefault2">
                                Editar
                            </label>
                        </div>

                        <div class="col form-check" *ngIf="seleccion !=''">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"
                                (click)="borrar()" disabled>
                            <label class="form-check-label fw-lighter" for="flexRadioDefault3">
                                Borrar
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->


</div>