<div class="container">
    <div class="row">
        <div class="col">
            <ag-grid-angular style="width:875px; height: 500px;" class="ag-theme-fresh" [rowData]="rowData"
                [columnDefs]="columnDefs">
            </ag-grid-angular>
        </div>
        <div class="col">
            <div>
                <h4>Total: {{datosTotales}} productos</h4>
            </div>
            <div class="card" style="width: 10rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Productos scrapeados</h5>
                    <ul class="card-text">
                        <li><button class="btn btn-secondary btn-sm" (click)="filtroProducto('Leche')">Leche</button></li>
                        <li><button class="btn btn-secondary btn-sm mt-1">Yerba</button></li>
                        <li><button class="btn btn-secondary btn-sm mt-1">Azucar</button></li>
                        <li><button class="btn btn-secondary btn-sm mt-1">Galletitas</button></li>
                        <li><button class="btn btn-secondary btn-sm mt-1">Gaseosas</button></li>
                        <li><button class="btn btn-secondary btn-sm mt-1">Arroz</button></li>
                        <li><button class="btn btn-secondary btn-sm mt-1">Shampoo</button></li>
                        <li><button class="btn btn-secondary btn-sm mt-1">Pollo</button></li>
                    </ul>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</div>